WIFI_SSID = ""
WIFI_PASSWORD = ""
SERVER_URL = "http://192.168.1.100:5000"
API_TOKEN = ""
DEVICE_UID = "esp32-balkon-01"
SOIL_SENSOR_PIN = 35
PUMP_RELAY_PIN = 18
MOISTURE_DRY_RAW = 3402
MOISTURE_WET_RAW = 1991
MOISTURE_THRESHOLD_PERCENT = 35
PUMP_RUN_SECONDS = 8
PUMP_COOLDOWN_SECONDS = 1800
MEASURE_INTERVAL_SECONDS = 3600